/* nav.css (updated) */

/* Global background override */
.root, .sidebar {
    -fx-background-color: #EDE8E6;
}

/* All buttons background + text */
.button,
.button.nav-item,
.submenu .button.nav-item,
.icon-button,
.toggle-button{
    -fx-background-color: #E1E3EF;
    -fx-text-fill: #07094A;
    -fx-border-color: #a5abd0;
    -fx-border-width: 1;
}

.button:hover,
.button.nav-item:hover,
.submenu .button.nav-item:hover,
.icon-button:hover,
.settings-button:hover,
.toggle-button:hover{
    -fx-background-color: derive(#E1E3EF, -10%);
    -fx-border-color: black;
}

/* Sidebar */
.sidebar {
    -fx-padding: 8;
}

/* TitledPane header */
titled-pane > .title {
    -fx-background-color: #b7cdf6;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 12;
}

/* TitledPane content */
titled-pane > .content {
    -fx-background-color: transparent;
    -fx-padding: 8 0 0 0;
}

.mineCases {
    -fx-text-fill: #07094A;
}

/* Search bar */
.search-bar {
    -fx-background-color: derive(#EDE8E6, -10%);;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10 5 35;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-image: url("../images/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10 center;
    -fx-background-size: 16px 16px;
}

.search-bar:hover {
    -fx-border-color: #999999;
}

.search-bar:focused {
    -fx-border-color: #3f8efc;
    -fx-effect: dropshadow(three-pass-box, rgba(63,142,252,0.3), 8, 0, 0, 0);
}


/* Slider indicator */
.slider-indicator .thumb {
    -fx-background-color: #ff5555;
    -fx-shape: "M 0 10 L 10 10 L 5 0 Z";
    -fx-background-insets: 0;
    -fx-padding: 6;
    -fx-background-radius: 0;
    -fx-translate-y: 6px;
}

/* Risk title */
.riskTitle {
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box, white, 2, 0.0, 0, 0);
}

/* Override global .button for export button */
.export-btn {
    -fx-background-color: #ccc3b9;  /* whatever you want */
    -fx-text-fill: #07094A;
    -fx-border-color: #948d86;
}

/* Override global .button for exit button */
.exit-btn {
    -fx-background-color: #FFDDDD;
    -fx-text-fill: #8A0000;
    -fx-font-weight: bold;
    -fx-border-color: #998484;
}

.settings-button {
    -fx-background-image: url("../images/settingsIcon.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-cursor: hand;
}
