target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
### .idea/modules.xml
### .idea/jarRepositories.xml
###.idea/compiler.xml
###.idea/libraries/
.idea/
*.iws
*.iml
*.ipr
# Ignore everything in .idea
.idea/*
# But not the directory itself (so Git can see inside it)
!.idea/
# And not the runConfigurations folder
!.idea/runConfigurations/

*.pdf
*.db

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
